body{
  margin: 0;
  padding: 0;
  background-image: url(../img/back.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ffffff;
}
#newBook{
  display: inline-block;
  margin: 3%;
  border: 2px solid #282D32;
  background: #FFF8DC;
  width: 400px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
#editBook{
  display: none;
  margin: 3%;
  border: 2px solid #282D32;
  background: #FFF8DC;
  width: 400px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.buttonEditGroup{
  display: block;
  margin: 0 auto;
  text-align: center;
}
.editButton{
  display: inline-block;
  color: rgb(70, 70, 68);;
  padding: 10px 30px 10px 30px;
  border: 2px solid #282D32;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  font-size: 18px;
  font-weight: bold;
  @import url(https://fonts.googleapis.com/css?family=Roboto)
}
.editButton:hover{
  background: rgb(70, 70, 68);;
  text-align: center;
  color: white;
  transition: 1s ease-out;
}
.form{
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
}
input{
  border-radius: 5px;
  border-color: #282D32;
  background: #FFFFFF;
  color: #282D32;
  font-size: 15px;
  outline:0;
  text-align: center;
  height: 30px;
}
input:focus{
  outline: 0;
}
label{
  font-size: 20px;
  @import url(https://fonts.googleapis.com/css?family=Montserrat)
}
.button{
  display: block;
  color: rgb(70, 70, 68);;
  padding: 10px 30px 10px 30px;
  border: 2px solid #282D32;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  font-size: 18px;
  font-weight: bold;
  @import url(https://fonts.googleapis.com/css?family=Roboto)
}
.button:hover{
  background: rgb(70, 70, 68);;
  text-align: center;
  color: white;
  transition: 1s ease-out;
}
.right{
  display: inline-block;
  margin-top: 3%;
  width: 60%;
  vertical-align: top;
}
.top{
  display: inline-block;
  vertical-align: top;
  z-index: 555;
  height: auto;
  margin: 1%;
  width: 39%;
  padding: 10px 30px 10px 30px;
  border: 2px solid #282D32;
  background:#FFF8DC;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.sort{
  vertical-align:middle;
}

.labText{
  vertical-align:middle;
}
#buttonSearch{
 float: right;
 cursor: pointer;
 background: #FFF8DC;
}
#search{
  width: 70%;
  background: white;
}


#content{
  display: block;
  text-align: center;
  margin-top: 3%;
  width: 100%;
  vertical-align: top;
}
.book{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  float: left;
  z-index: 555;
  height: 100px;
  margin: 1%;
  width: 40%;
  padding: 10px 30px 10px 30px;
  border: 2px solid #282D32;
  background: #FFF8DC;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.book:hover{
  background: #f5f0b7; /* Old browsers */
  background: -moz-linear-gradient(top, #f5f0b7 0%, #eee796 47%, #e7dd71 100%); 
  background: -webkit-linear-gradient(top, #f5f0b7 0%,#eee796 47%,#e7dd71 100%);
  background: linear-gradient(to bottom, #f5f0b7 0%,#eee796 47%,#e7dd71 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f0b7', endColorstr='#e7dd71',GradientType=0 );
  cursor: pointer;
  transition: 2s ease-out;
}
#buttonGroup{
  text-align: left;
  vertical-align: bottom;
  width: 100%;
  cursor: pointer;
}
img{
  width: 35px;
  height: 30px;
}
#editButton{
  display: inline-block;
  margin: 20px;
}
#editButton:hover{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#deleteButton{
  display: inline-block;
}
#deleteButton:hover{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#query{
  display: none;
  position: fixed;
  z-index: 999;
  text-align: center;
  background: #FFF8DC;
  left: 50%;
  top: 30%;
  margin-left: -15%;
  border: 1px solid #F5F8FA;
  width: 30%;
  font-size: 18px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.queryTitle{
  display: block;
  background: rgb(70, 70, 68);
  color: #F5F8FA;
  padding: 7px;
  font-size: 18px;
  text-align: center;
}
.message{
  padding: 15px;
}
.queryButtonGroup{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
#yes{
  cursor: pointer;
  display: inline-block;
  padding: 15px;
}
#yes:hover{
  box-shadow: 0 2px 2px 0 #00000024,
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
#no{
  cursor: pointer;
  display: inline-block;
  padding: 15px;
}
#no:hover{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.errors{
  color:rgb(230, 235, 240);
  background: #546e7a;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
#error li{
  padding: 1px;
}

